html
	head
		title list users
	body
		h1 Hello world

		each user in allUsers 
			p Firstname is #{user.firstname}
		each user in allUsers
			p Lastname is #{user.lastname}
		each user in allUsers
			p Email is #{user.email}
